<div class="container">
<div class="row" style="margin-top:50px">
<div class="col-lg-4 col-lg-offset-4" style="border:1px #666 solid">
<form name='loginForm'>
    
    <h4 style="text-align:center"><b>Log In</b></h4>
    
    <div class="form-group">
    <label>Email</label>
    <input type="email" ng-model="login.email" placeholder="email" class="form-control">
    </div>
    
    <div class="form-group">
    <label>Password</label>
    <input type="password" ng-model="login.password" placeholder="password" class="form-control">
    </div>
    
    <p style="color:red">{{errMessage}}</p>
    
    <div class="form-group">
    <button ng-click="loginSubmit()" class="btn btn-primary">Log In</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button ng-click="signInWithGoogle()" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign"></span> Google Login</button>
    </div>
    
</form>

<a href="#/register">Dont have a account?</a>&nbsp;&nbsp;&nbsp;<a href="" ng-click="resetShow()">Forgot password?</a>
<form ng-show="resetPassword" >
<!--    <form ng-show="resetPassword" >  -->
<!--    this ng-if  blocks the two-way data-binding-->
<!-- use ng-show instead of ng-if, ng-if delete all the DOM
    the controller cant get the two-way data-binding data if the DOM
    was reset everytime-->
    <input type="email" ng-model="resetEmail" placeholder="email reset">
    <button ng-click="reset()">submit</button>
</form>
</div>
</div>
</div>
